{% extends "base.html" %}

{% block content %}
<div class="card pt-3 pl-3 mx-auto" style="width: 80%; margin: 50px;">
    <h1 class="card-header m-3" style="width: 95%; margin: 50px;">Enter your Letters here!</h1>
    <div class="form-group m-3">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.placed_letters.label }}
                {{ form.placed_letters(size=1) }}
                {{ form.guessed_letters.label }}
                {{ form.guessed_letters(size=5) }}
                {{ form.own_letterset.label }}
                {{ form.own_letterset(size=25) }}
                {% for error in form.own_letterset.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.recaptcha }}</p>
            <p>{{ form.submit }}</p>
        </form>
    </div>
</div>
{% endblock %}